.wrapper {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    --section-padding: 3rem;
}
.home {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    font-size: 2em;
    text-align: center;
    color: white;
}
.home > *:not(.image-container) {
    opacity: 0;
    transform: translateY(1rem);
    animation: fade-in 500ms linear forwards;
}
.home p {
    font-size: 22px;
    font-weight: 300;
}

.home h1 {
    font-size: 64px;
    font-weight: 600;
}
.home .image-container {
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: -1;
}
.home .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.home .image-container .blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #013200;
    opacity: .7;
}

section:not(.home) p {
    position: absolute;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 0 5px 2px rgba(0 0 0 / .5);

}

.section1 {
    padding: var(--section-padding);
    position: relative;
}
.section1 .image-container {
    position: relative;

    background: linear-gradient(to right, rgba(3 147 0 / .35) 50%, transparent 50%);
    padding: 3rem;

    
    opacity: 0;
    transform: translateX(-10%);

    /* animation: fade-in 500ms linear forwards; */
}
.section1 .image-container img {
    width: 100%;
    object-fit: cover;
    object-position: bottom;

    opacity: 0;
    transform: translateX(-20px);

    /* animation: fade-in 500ms 500ms linear forwards; */
}

.section1 p {
    right: var(--section-padding);
    bottom: 0;

    width: 70%;
    
    opacity: 0;
    transform: translateY(15%);    
    
    /* animation: fade-in 500ms 500ms linear forwards; */
}


.section2 {
    position: relative;
    display: flex;
    gap: 1rem;

    padding: var(--section-padding);
}

.section2 .image-container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: end;
    align-items: center;

    opacity: 0;
    transform: translateY(10%);

    /* animation: fade-in 500ms linear forwards; */
}

.section2 .image-container:first-child img {
    margin-left: auto;
    box-shadow: -3rem -3rem 0 rgba(3 147 0 / .35);

    transition: box-shadow 500ms 500ms;
}
.section2 .image-container:nth-child(2) img {
    margin-right: auto;
    box-shadow: 3rem 3rem 0 rgba(3 147 0 / .35);
    transition: box-shadow 500ms 500ms;
}


.section2 p {
    bottom: 3rem;
    left: 50%;
    
    width: 70%;
    
    opacity: 0;
    transform: translateX(-40%);

    /* animation: fade-in-bottom 500ms 500ms linear forwards; */
}


.section3 {
    position: relative;
    padding: var(--section-padding);
    margin-bottom: 4rem;
}

.section3 .image-container {
    position: relative;
    height: 100%;
    padding: var(--section-padding);
    background: linear-gradient(rgba(3 147 0 / .35) 50%, transparent 50%);

    transform: translateY(10%);
    opacity: 0;

    /* animation: fade-in 500ms linear forwards; */
}

.section3 .image-container img {
    max-width: 100%;
    object-fit: cover;

    opacity: 0;

    /* animation: fade-in 500ms 500ms linear forwards; */
}
.section3 .image-container img:nth-child(1) {
    transform: translateX(-20px);
}
.section3 .image-container img:nth-child(2) {
    position: absolute;
    bottom: 0;
    right: 1rem;
    
    width: 30rem;
    transform: translateX(20px);
}

.section3 p {
    bottom: 1rem;
    left: var(--section-padding);

    width: 70%;

    opacity: 0;
    transform: translateY(10px);

    /* animation: fade-in 500ms 500ms linear forwards; */
}

@keyframes fade-in {
    to {
        opacity: 1;
        transform: translateY(0) translateX(0) !important;
    }
}
.fade-in {
    animation: fade-in 500ms linear forwards;
}
.fade-in-delayed {
    animation: fade-in 500ms 500ms linear forwards;
}

@keyframes fade-in-bottom {
    to {
        opacity: 1;
        transform: translateX(-50%) !important;
    }
}
.fade-in-bottom {
    animation: fade-in-bottom 500ms 500ms linear forwards;
}

@keyframes section2-img1-shadow {
    to {
        
    }
}

@media (width < 800px),
only screen and (-webkit-min-device-pixel-ratio: 2) {
    .wrapper {
        --section-padding: 1rem;
        gap: 0 !important;
    }
    .home {
        font-size: 1.5em;
        padding: var(--section-padding);
    }

    .home h1 {
        font-size: 1.2em;
    }
    .home p {
        font-size: 0.7em;
    }

    
    header {
        color: white;
        padding-block: 1rem;
        padding-inline: 30px;
    }
    
    section:not(.home) {
        height: unset;
        /* padding: 0; */
        margin: 0;
        /* display: flex;
        justify-content: center !important; */
    }
    
    .section1 {
        padding-top: 2rem;
    }
    .section3 {
        padding-bottom: 2rem;
    }
    section:not(.home) .image-container {
        display: none;
    }
    section p {
        position: relative !important;
        width: calc(100% - 2rem) !important;
        height: unset !important;
        font-size: 1.5em;
        border-radius: 10px;
        /* opacity: 1 !important; */
        /* animation: none !important; */
        top: 0;
        left: 50% !important;
        transform: translateX(-50%) !important;
        bottom: unset !important;
        box-shadow: none !important;
        padding: 0 !important;

    }

    /* .section1 p {
        transform: translateX(-100%) !important;
    } */
    
    /* .section1 .image-container img {
        height: 100%;
        object-fit: cover;
        object-position: left bottom;
        filter: brightness(.3) opacity(.3);
    } */
   
}