.wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    overflow-x: hidden;

    --page-padding: 6rem
}

/* header {
    z-index: 100;
    position: fixed;
    top: 0;

    width: 100vw;
    height: 4rem;

    padding: 0 4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: transparent;

    transition: background-color 250ms, transform 250ms;
}
header.scrolled {
    background-color: var(--primary);
}
header.hidden {
    transform: translateY(-100%);
}

header ul {
    display: flex;
    gap: 3rem;

    font-weight: 600;

    list-style: none;
}

header ul li::after {
    content: '';

    scale: 0 1;
    transform-origin: left;

    display: block;

    margin-top: .25rem;

    border: 1px solid white;
    transition: scale 250ms;
}

header ul li:hover::after {
    scale: 1 1;
}

header ul li:first-child::after {
    content: '';

    scale: 1 1;

    display: block;

    margin-top: .25rem;

    border: 1px solid white;
}
    
header img {
    max-height: 70%;
} */

.home {
    position: relative;
    margin-bottom: 15rem;
}
.home .page {
    width: 100%;
    height: 100%;

    display: flex;
    background-color: black;
}
.home .page .content {
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2rem;

    padding-left: calc(var(--page-padding) + 2rem);
    padding-bottom: var(--page-padding);

    font-size: 2em;

    color: white;


    transform: translateX(-50%);
    opacity: 0;

    animation: fade-in-side 700ms ease-out forwards;
}


.home .page .content p {
    font-size: .8em;
}
.home .page .content p span {
    color: var(--primary);
    font-weight: 600;
}

.home .page .content p span::after {
    content: '';
    display: inline-block;
    height: 40%;
    width: 5px;
    margin-left: 3px;
    background-color: var(--primary);

    animation: cursor 1s linear infinite;
}

.home .page .content a {
    padding: 1rem 2rem;

    font-size: .5em;
    font-weight: 600;

    background-color: var(--primary);
    color: white;

    border: none;
    border-radius: 5px;

    text-wrap: nowrap;

    transition: background-color 250ms;

    cursor: pointer;
}

.home .page .content a:hover {
    background-color: white;
    color: var(--primary);
}

.home .page .image-container {
    width: 80%;
    position: relative;
}
.home .page .image-container .wrapper {
    display: flex;
    flex-direction: row;
    overflow-x: auto;

    scroll-behavior: smooth;
}
.home .page .image-container .blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, black 5%, transparent);
    z-index: 10;
}

.home .page .image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
}
    
.home .counters {
    position: absolute;

    display: flex;
    gap: 1rem;

    bottom: 30%;
    left: calc(var(--page-padding) + 2rem);

    opacity: 0;

    animation: fade-in 700ms 700ms ease-out forwards;
}

.home .counters .counter {
    width: 3rem;
    border: 2px solid white;
    border-radius: 2px;

}
.home .counters .counter[data-active="true"] {
    border-color: var(--primary);
}

.home .product-examples {
    position: absolute;
    bottom: 0;
    transform: translateY(80%);

    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    padding-inline: var(--page-padding);

    z-index: 20;
}
.home .product-examples>* {
    background-color: white;
}
    
.home .product-examples img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

    
.home .product-examples .product {
    position: relative;
    max-height: 16rem;
    overflow: hidden;
}
.home .product-examples .product .content {
    opacity: 0;
    position: absolute;
    top: 0;
    
    width: 100%;
    height: 100%;
    
    padding: 2rem;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    gap: 1rem;
    
    font-size: 1.2em;
    font-weight: 600;
    
    background: linear-gradient(to bottom, transparent, rgba(0 0 0 / .7), rgba(0 0 0 / .7));
    color: white;
    
    transition: opacity 250ms;
}
.home .product-examples .product .content > * {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 250ms 250ms, transform 250ms 250ms;
}
.home .product-examples .product:hover .content {
    opacity: 1;
}
.home .product-examples .product:hover .content > * {
    opacity: 1;
    transform: translateY(0);
}

.home .product-examples .product .link {
    font-weight: 300;

    padding: .25rem .5rem;
    
    border: 1px solid var(--primary);
    cursor: pointer;
    transform-origin: start;
}
.home .product-examples .product .link:hover {
    background-color: var(--primary);
}


.home .product-examples .contact {
    border-top-left-radius: 50px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    font-weight: 600;

    padding: 3rem;

    font-size: 1.6em;
    
}
.home .product-examples .contact>span {
    font-size: .7em;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;

    padding: .5rem 1rem;
    border-radius: 5px;

    text-wrap: nowrap;
    font-weight: 300;
    cursor: pointer;
    transition: background-color 250ms, color 250ms;    
}
.home .product-examples .contact > span:hover {
    background-color: var(--primary);
    color: white;    
}



.about {
    padding: var(--page-padding);

    display: flex;
    gap: 4rem;

    position: relative;
}

.about .content {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    
    font-size: 1.5em;
    
    opacity: 0;
    transform: translateX(20%);
}
.about .content p {
    font-size: .8rem;
    font-style: italic;
}

.about .content a {
    font-size: .8em;
    border: 1px solid var(--primary);
    padding: 1rem 2rem;
    font-weight: 600;
    border-radius: 5px;

    text-wrap: nowrap;

    transition: background-color 250ms;

    cursor: pointer;
    color: var(--primary);
}

.about .content a:hover {
    color: white;
    background-color: var(--primary);
}

.about .image-container {
    position: relative;

    opacity: 0;
    transform: translateX(-50%);
}
.about .image-container .blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, transparent, white);
}

.about .image-container img {
    height: 100%;   
    border-radius: 5px;
}



.products {
    height: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    
    padding: var(--page-padding);
    
    position: relative;

    opacity: 0;
    transform: translateY(50%);
}
.products .crousel-control {
    position: absolute;
    width: 100%;
    height: calc(100% - (var(--page-padding) * 2));

    display: flex;
    justify-content: space-between;
    align-items: center;


    padding: 0 var(--page-padding);
}
.products .crousel-control div {
    width: 2.5rem;
    aspect-ratio: 1;
    border: 1px solid var(--primary);

    display: grid;
    place-items: center;

    transform: translateX(calc(-100% - 1rem));
}
.products .crousel-control div:hover {
    background-color: var(--primary);
    color: white;
}
.products .crousel-control div:nth-child(2) {
    transform: translateX(calc(100% + 1rem));
}
    
.products .product-container {
    position: relative;
    display: flex;
    width: calc(18rem* 3 + 6rem);
    gap: 2rem;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    padding: 1rem 1rem;
}
.products .product-container.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}
    
.products .product-container.dragging .product {
    user-select: none;
}

.products .product-container.no-transition {
    scroll-behavior: auto;
}
    
.products .product-container .product {
    max-width: 18rem;
    max-height: 80vh;
    border-radius: 10px;
    flex: 0 0 auto;
    scroll-snap-align: center;
    
    background-color: #eee;

    display: grid;
    grid-template-rows: 35% 1fr;
    
    cursor: grab;

    box-shadow: 0 0 10px rgba(0 0 0 / .5);
}
.products .product-container .product:active {
    cursor: grabbing;
}

.products .product-container .product .image {
    width: 100%;
    height: 100%;
}
.products .product-container .product .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: 250ms;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.products .product-container .product .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding: 2rem;

    font-size: .8em;
}
.products .product-container .product .content h2 {
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

.products .product-container .product .content button {
    font-size: 1em;
    text-wrap: nowrap;
    cursor: pointer;

    transition: box-shadow 250ms;

    margin-top: auto;
}
.products .product-container .product .content button:hover {
    box-shadow: 0 0 10px 2px rgba(0 0 0 / .5);
}

.products .glitter,
.products .glitter2 {
    position: absolute;
    width: 10rem;

    top: -5%;
    left: 0;

    z-index: -1;
}
.products .glitter img,
.products .glitter2 img {
    width: 100%;
}

.products .glitter {
    transform: translateX(-100%);
}
.products .glitter2 {
    top: -15%;
    left: 100%;

    transform: translateX(100%) rotateZ(180deg);
}

@keyframes shadow {
    to {
        box-shadow: 15px 15px 10px rgba(0 0 0 / .25);
    }
}
.shadow {
    animation: shadow 500ms linear forwards;
}

@keyframes fade-in-side {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.fade-in-side {
    animation: fade-in-side 500ms linear forwards;
}

@keyframes fade-out-left {
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}
.fade-out-left {
    animation: fade-out-left 500ms linear;
}

@keyframes fade-in-side-glitter2 {
    from {
        transform: translateX(100%) rotateZ(180deg);
    }
    to {
        transform: translateX(-100%) rotateZ(180deg);
        opacity: 1;
    }
}
.fade-in-side-glitter2 {
    animation: fade-in-side-glitter2 500ms linear forwards;
}

@keyframes fade-in-top {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.fade-in-top {
    animation: fade-in-top 500ms linear forwards;
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}
@keyframes cursor {
    from {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}


@media (width < 650px),
only screen and (-webkit-min-device-pixel-ratio: 2) {
    .wrapper {
        --page-padding: 2rem;
    }

    header {
        color: white;
        padding-block: 1rem;
        padding-inline: var(--page-padding);
    }
    header .hamburger {
        display: block;
    }
    header .menu {
        position: absolute;
        right: 1rem;
        top: calc(100% + 10px);
        background-color: var(--primary);
        padding: 1rem;
        border-radius: 5px;
    }
    header .menu[data-open="false"] {
        display: none;
    }

    header .menu ul {
        flex-direction: column;
        gap: 1rem;
    }
    header .menu ul li::after {
        display: none;
    }

    .home {
        margin-bottom: 45rem;
    }
    .home .page {
        flex-direction: column;
        position: relative;
    }
    .home .page .content {
        width: 100%;
        padding-inline: calc(var(--page-padding));
        z-index: 2;
    }
    .home .page .content p span::after {
        height: 30%;
    }
        
    .home .page .image-container {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .home .page .image-container img {
        filter: brightness(.3);
    }
    .home .page .image-container .blur {
        display: none;
    }

    .home .counters {
        left: var(--page-padding);
    }
    .home .product-examples {
        display: flex;
        flex-direction: column;

        transform: translateY(90%);
    }
    .home .product-examples .contact {
        padding: calc(var(--page-padding) - .5rem);

        gap: 1rem;
    }

    .about {
        position: relative;
        color: white;

        padding: 0;
        z-index: 4;
    }
    .about .content {
        padding-inline: var(--page-padding);
    }
    .about .image-container {
        position: absolute;

        width: 100%;
        height: 100%;

        animation: none;
        transform: translateX(0);
        opacity: 1;
    }
    .about .image-container .blur {
        display: none;
    }
    .about .image-container img {
        width: 100%;
        height: 100%;

        object-fit: cover;

        filter: brightness(.3);
    }

    .products .crousel-control {
        display: none;
    }

    .products .glitter2 {
        bottom: -10%;
        z-index: -1;
    }

    footer {
        flex-direction: column;
        z-index: 1;
    }
    footer .location {
        width: 100%;
    }
}