.wrapper {
    width: 100%;
    height: 100%;

    /* padding-top: 3.5rem; */

    display: flex;
    flex-direction: column;

    --page-padding: 6rem
}

header {
    z-index: 100;
    position: fixed;
    top: 0;

    width: 100vw;
    height: 4rem;

    padding: 0 4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: transparent;

    transition: background-color 250ms, transform 250ms;

    &.scrolled {
        background-color: var(--primary);
    }
    &.hidden {
        transform: translateY(-100%);
    }


    ul {
        display: flex;
        gap: 3rem;

        font-weight: 600;

        list-style: none;

        li::after {
            content: '';
            /* width: 20%; */

            scale: 0 1;
            transform-origin: left;
    
            display: block;
    
            margin-top: .25rem;
    
            border: 1px solid white;
            transition: scale 250ms;
        }

        li:hover::after {
            scale: 1 1;
        }

        li:first-child::after {
            content: '';
            /* width: 100%; */

            scale: 1 1;

            display: block;

            margin-top: .25rem;

            border: 1px solid white;
        }
    }
    
    
    img {
        max-height: 70%;
    }
}

::-webkit-scrollbar {
    display: none;
}
section {
    height: 100vh;
}
a {
    text-decoration: none;
    color: white;
}
button {
    padding: 1rem 2rem;

    font-size: .5em;
    font-weight: 600;

    background-color: var(--primary);
    color: white;

    border: none;
    border-radius: 5px;

    text-wrap: nowrap;

    transition: background-color 250ms;

    cursor: pointer;
}

.home {
    /* height: calc(100vh - 3rem); */
    position: relative;
    margin-bottom: 15rem;

    .page {
        width: 100%;
        height: 100%;

        display: flex;
        background-color: black;

        /* background-image: url('/media/company-image.png');
        background-repeat: no-repeat;
        background-position: right top;
        background-size: cover; */

        .content {
            height: 100%;
            width: 50%;

            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: 2rem;

            padding-left: calc(var(--page-padding) + 2rem);
            padding-bottom: var(--page-padding);

            font-size: 2em;

            color: white;


            p {
                font-size: .8em;
            }
            button:hover {
                background-color: white;
                color: var(--primary);
            }
        }

        .image-container {
            width: 80%;
            position: relative;
            .blur {
                position: absolute;
                width: 100%;
                height: 100%;
                background: linear-gradient(to right, black, transparent);
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    
    .counters {
        position: absolute;

        display: flex;
        gap: 1rem;

        bottom: 30%;
        left: calc(var(--page-padding) + 2rem);


        .counter {
            width: 3rem;
            border: 2px solid lightgray;
            border-radius: 2px;

            &[data-selected="true"] {
                border-color: var(--primary);
            }
        }
    }

    .product-examples {
        position: absolute;
        bottom: 0;
        transform: translateY(80%);

        width: 100%;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;

        padding-inline: var(--page-padding);

        z-index: 20;
        
        &>* {
            /* width: 100%; */
            background-color: white;

            animation: shadow linear forwards;
            animation-timeline: view(200px 300px);
            /* animation-range-start: 100px;
            animation-range-end: 10px; */
            
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        
        .product {
            position: relative;
            
            &:hover .content {
                opacity: 1;
                &>*{
                    opacity: 1;
                    transform: translateY(0);
                }
            }
            .content {
                opacity: 0;
                position: absolute;
                top: 0;
                
                width: 100%;
                height: 100%;
                
                padding: 2rem;
                
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: end;
                gap: 1rem;
                
                font-size: 1.2em;
                font-weight: 600;
                
                background: linear-gradient(to bottom, transparent, rgba(0 0 0 / .7), rgba(0 0 0 / .7));
                /* background-color: rgba(0 0 0 / .7); */
                color: white;
                
                transition: opacity 250ms;
                
                &>*{
                    opacity: 0;
                    transform: translateY(20px);
                    transition: background-color 250ms, opacity 250ms 250ms, transform 250ms 250ms;
                }
                
                .link {
                    /* font-size: .9em; */
                    font-weight: 300;

                    padding: .25rem .5rem;

                    
                    border: 1px solid var(--primary);
                    cursor: pointer;
                    transform-origin: start;

                    &:hover {
                        background-color: var(--primary);

                    }
                }
            }
        }

        .contact {
            border-top-left-radius: 50px;

            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;

            font-weight: 600;

            padding: 3rem;

            font-size: 1.8em;
            
            >span {
                /* color: var(--primary); */
                font-size: .7em;
                /* width: 100%; */

                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: .5rem;

                padding: .25rem .5rem;

                text-wrap: nowrap;
                font-weight: 300;

                /* border-radius: 50px; */

                /* border: 1px solid var(--primary); */
                
                
                cursor: pointer;
                transition: background-color 250ms, color 250ms;
                /* border: 2px solid var(--primary); */
                
                padding-right: 2rem;
                
                &:hover {
                    background-color: var(--primary);
                    color: white;    
                }

            }
        }
    }
}

.about {
    padding: var(--page-padding);

    display: flex;
    /* justify-content: space-between; */
    gap: 4rem;

    position: relative;

    &>* {
        opacity: 0;
        animation: fade-in-side linear forwards;
        animation-timeline: view(100% -100%);
    }

    .content {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 1rem;

        font-size: 1.5em;

        transform: translateX(150%);

        p {
            font-size: .8em;
            font-style: italic;
        }

        button {
            font-size: .8em;
            border: 1px solid var(--primary);
            &:hover {
                background-color: white;
                color: var(--primary);
            }
        }

    }

    .image-container {
        position: relative;

        transform: translateX(-150%);

        .blur {
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, transparent, transparent, white);
        }

        img {
            height: 100%;   
            border-radius: 5px;
        }
    }
}

.products {
    height: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    
    padding: var(--page-padding);
    
    position: relative;

    opacity: 0;

    animation: fade-in linear forwards;
    animation-timeline: view(150% -100%);
    
    .crousel-control {
        position: absolute;
        width: 100%;
        height: calc(100% - (var(--page-padding) * 2));

        display: flex;
        justify-content: space-between;
        align-items: center;


        padding: 0 var(--page-padding);

        div {
            width: 2.5rem;
            aspect-ratio: 1;
            border: 1px solid var(--primary);

            display: grid;
            place-items: center;

            transform: translateX(calc(-100% - 1rem));

            
            
            &:hover {
                background-color: var(--primary);
                color: white;
            }
        }
        div:nth-child(2) {
            transform: translateX(calc(100% + 1rem));
        }
    }
    
    .product-container {
        position: relative;
        display: flex;
        width: calc(18rem* 3 + 6rem);
        gap: 2rem;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;

        padding: 1rem 1rem;
        
        &.dragging {
            scroll-snap-type: none;
            scroll-behavior: auto;
        }
        
        &.dragging .product {
            user-select: none;
        }

        &.no-transition {
            scroll-behavior: auto;
        }
        
        .product {
            max-width: 18rem;
            border-radius: 10px;
            flex: 0 0 auto;
            scroll-snap-align: center;
            
            background-color: #eee;

            display: flex;
            flex-direction: column;
            
            cursor: grab;

            box-shadow: 0 0 10px rgba(0 0 0 / .5);

            &:active {
                cursor: grabbing;
            }

            .image {
                width: 100%;
                height: 40%;
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                    transition: 250ms;

                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }
            }

            .content {
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                padding: 2rem;

                font-size: .8em;

                h2 {
                    text-align: center;
                    text-decoration: underline;
                    cursor: pointer;
                }

                button {
                    font-size: 1em;
                    text-wrap: nowrap;
                    cursor: pointer;

                    transition: box-shadow 250ms;

                    margin-top: auto;
                    
                    &:hover {
                        box-shadow: 0 0 10px 2px rgba(0 0 0 / .5);
                    }
                    /* &:focus {
                        outline: 2px solid var(--primary);
                        outline-offset: 1px;
                    }
                    &:active {
                        outline: none;
                    } */
                }
            }
        }
    }

    .glitter,
    .glitter2 {
        position: absolute;
        width: 10rem;

        top: -5%;
        left: 0;

        z-index: -1;

        img {
            width: 100%;
        }
    }
    .glitter {
        transform: translateX(-100%);
        
        animation: fade-in-side linear forwards;
        animation-timeline: view(500px -10%);
    }
    .glitter2 {
        top: -15%;
        left: 100%;

        transform: translateX(-100%) rotateZ(180deg);

        animation: fade-in-side-glitter2 linear forwards;
        animation-timeline: view(500px -10%);
    }
}

footer {
    background-color: var(--primary);

    display: flex;
    justify-content: space-between;

    padding: 10px;

    color: white;

    .meta {
        /* width: 50%; */

        display: flex;
        flex-direction: column;
        gap: 2rem;

        padding: 2rem;

        &>*:not(img) {
            width: 100%;

            display: flex;
            gap: 1rem;
            
            div {
                width: 100%;

                display: flex;
                flex-direction: column;

                margin-left: auto;
                a {
                    text-decoration: underline;
                }
            }
            i {
                width: 10%;
            }

        }
        >p {
            margin-top: auto;
            font-size: .8em;
        }

    }
    img {
        width: 30%;
    }

    .location {
        height: 30rem;
        width: 50%;
        /* aspect-ratio: 1; */
        background-color: white;
        border: none;
    }
}



@keyframes shadow {
    to {
        box-shadow: 15px 15px 10px rgba(0 0 0 / .25);
    }
}

@keyframes fade-in-side {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-side-glitter2 {
    from {
        transform: translateX(100%) rotateZ(180deg);
    }
    to {
        transform: translateX(-100%) rotateZ(180deg);
        opacity: 1;
    }
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

@media (width < 600px) {
    .wrapper {
        --page-padding: 2rem;
    }
    header {
        color: white;
        padding-block: 1rem;
        padding-inline: var(--page-padding);

        .hamburger {
            display: block;
        }

        /* ul {
            display: none;
        } */

        /* &.hidden {
            transform: none;
        } */

        .menu {
            position: absolute;
            right: 1rem;
            top: calc(100% + 10px);
            background-color: var(--primary);
            padding: 1rem;
            border-radius: 5px;

            &[data-open="false"] {
                display: none;
            }

            ul {
                flex-direction: column;
                gap: 1rem;

                li::after {
                    display: none;
                }
            }
        }
    }

    .home {
        margin-bottom: 45rem;
        .page {
            flex-direction: column;
            position: relative;

            .content {
                width: 100%;
                padding-inline: calc(var(--page-padding));
                z-index: 2;
            }

            
            .image-container {
                position: absolute;
                width: 100%;
                height: 100%;
                
                img {
                    filter: brightness(.3);
                }
            }
        }
        .counters {
            left: var(--page-padding);
        }
        .product-examples {
            display: flex;
            flex-direction: column;

            transform: translateY(90%);
            .contact {
                /* font-size: 1em; */
                padding: calc(var(--page-padding) - .5rem);

                gap: 1rem;
            }
        }
    }

    .about {
        position: relative;
        color: white;

        padding: 0;
        z-index: 4;

        .content {
            padding-inline: var(--page-padding);
        }
        .image-container {
            position: absolute;
            /* z-index: 3; */

            width: 100%;
            height: 100%;

            animation: none;
            transform: translateX(0);
            opacity: 1;

            .blur {
                display: none;
            }
            img {
                width: 100%;
                height: 100%;

                object-fit: cover;

                filter: brightness(.3);
            }
        }
    }

    .products {
        .crousel-control {
            display: none;
        }

        .glitter2 {
            bottom: -10%;
            z-index: -1;
        }
    }

    footer {
        flex-direction: column;
        z-index: 1;

        .location {
            width: 100%;
        }
    }
}